#tradingview_17997{
    height : 500px;
    width : 50%;
    float : left;
}

.table_wrapper{
    height : 800px;
    width : 50%;
    float : right;
    overflow : auto;
}
#home_main_body{
    display : flex;
}
#body_title{
    width : 80%;
    color : white;
    background: url('./image/title.jpg');
    background-size: 100% 100%;
}

#home_right_side{
    margin : auto;
}

#unchain_main{
    background : url("./image/title.jpg");
}