#tradingview_17997{
    height : 500px;
    width : 50%;
    float : left;
}

.table_wrapper{
    height : 800px;
    width : 50%;
    float : right;
    overflow : auto;
}
#home_main_body{
    display : flex;
}
#body_title{
    width : 80%;
}

#home_right_side{
    margin : auto;
}