#tradingview_17997{
    height : 700px;
    width : 50%;
    float : left;
}

#table_ticker{
    height : 700px;
    width : 50%;
    float : right;
    overflow:scroll
}

#body_title{
    clear : both;
}